<!doctype html>
<html class="no-js" lang="{{ page.seoLang }}">

    <head>
        {% include "includes/head.twig" %}
        {% include basekit.headScript %}
    </head>

    <body class="{{ page.backgroundClass }} {% block class %}{% endblock %} broad">

        <!-- Header Include -->
        {% include "includes/header.twig" %}

        <!-- Main Widget Zone -->
        {% block content %}
        {% endblock %}

        <!-- Footer Include -->
        {% include "includes/footer.twig" %}

        {% include basekit.bodyScript %}

        <!-- Nav Menu Script -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
           <script nonce="{{ numberUsedOnce }}">window.jQuery || document.write('<script src="{{ asset('libs/jquery-1.10.2.min.js')}}"><\/script>')
        </script>

        <script nonce="{{ numberUsedOnce }}">
            // Toggles class open to display/hide the whole navigation
            $(document).on("click", ".navigation-toggle", function() {
                $( "body" ).toggleClass( "open" );
            });
            // Togglse class open to display/hide folders
            $( ".navigation-item.folder" ).each(function() {
                $( this ).click(function() {
                    $( this ).toggleClass( "open" );
                });
            });
        </script>

    </body>
</html>
